@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
	background-image: url("tech.jpg");
	
	
}

.writing {
	font-family: "Roberto";
	font-size: 2rem;
	color: beige;
};